In [2]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [3]:
full_labels = pd.read_csv('data/cabbage_labels.csv')

In [4]:
full_labels.head()

      filename  width  height    class  xmin  ymin  xmax  ymax
0  pic_108.jpg    259     194  cabbage    62    52   186   160
1  pic_047.jpg    259     194  cabbage    46     1   220   170
2  pic_015.jpg    220     170  cabbage    49    27   155   125
3  pic_045.jpg    255     197  cabbage    29    15   227   167
4  pic_018.jpg    136     180  cabbage    70    69   117   128

In [5]:
grouped = full_labels.groupby('filename')

In [6]:
grouped.apply(lambda x: len(x)).value_counts()

1    62
2    17
4     8
3     7
6     2
5     2
9     1
7     1
dtype: int64

### split each file into a group in a list

In [7]:
gb = full_labels.groupby('filename')

In [8]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [9]:
len(grouped_list)

100

In [15]:
train_index = np.random.choice(len(grouped_list), size=80, replace=False)
test_index = np.setdiff1d(list(range(100)), train_index)

In [16]:
len(train_index), len(test_index)

(80, 20)

In [17]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [18]:
len(train), len(test)

(140, 47)

In [19]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)